.icon-container {
  @extend .input--non-styled;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: var(--radius);

  &--rounded {
    border-radius: 50%;
  }

  &--sm {
    width: 2.3rem;
    height: 2.3rem;
  }

  &--md {
    width: 3rem;
    height: 3rem;
  }

  &--lg {
    width: 4rem;
    height: 4rem;
  }
}

.icon {
  &--sm {
    font-size: var(--icon-size-sm) !important;
  }
  &--md {
    font-size: var(--icon-size) !important;
  }
  &--lg {
    font-size: var(--icon-size-lg) !important;
  }
}
