.icon-container {
  @extend .input--non-styled;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;

  margin-right: 0.5rem;
  border-radius: 50%;

  .icon {
    font-size: var(--icon-size);
  }
}
