.pagination-container {
  padding: 1rem 1rem;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin-right: 0.1rem;
  }

  &__item button {
    @extend .input--non-styled;
    padding: 1rem 1.2rem;

    border-radius: var(--radius);
    color: var(--color-primary);
    background-color: var(--color-background);
  }

  &__item.active button {
    color: var(--color-background);
    background-color: var(--color-primary);
  }
}
