$container-padding: 1rem;

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 60vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), var(--color-primary)),
    url("../../assets/img/bg-2.jpg");

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  background-size: cover;
  background-position: center;

  .logo {
    position: fixed;
    top: $container-padding;
    left: $container-padding;
  }

  .button {
    flex-grow: 0;
  }

  .heading {
    margin-bottom: 3rem;
    margin-top: -2rem;
  }

  .heading-1 {
    font-size: 3rem;
  }
}

.section-intro {
  margin-top: 3rem;
  padding: 0 $container-padding;

  .ss {
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    transform: skewY(-10deg);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.3rem;
  }
}

.footer {
}
