@keyframes loaderRotate {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(720deg);
  }
}

.loader {
  margin-left: 0.7rem;
  font-size: 1.8rem !important;
  animation: loaderRotate 1.2s infinite;
}
