.text-money {
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  color: var(--color-text);

  span {
    font-weight: 500;
  }
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-xsm {
  font-size: 1.2rem;
}

.text-sm {
  font-size: 1.4rem;
}

.text-lg {
  font-size: 1.8rem;
}
