.text-money {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  color: var(--color-text);

  span {
    font-weight: 500;
  }
}

.text-red {
  color: var(--color-red);
}

.text-green {
  color: green;
}

.text-white {
  color: var(--color-background);
}

.text-xsm {
  font-size: 1.2rem;
}

.text-sm {
  font-size: 1.4rem;
}

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.8rem;
}

a.link {
  &,
  &:link,
  &:visited,
  &:active {
    color: var(--color-primary);
    text-decoration: underline;
  }
}
