/* 
    BUTTON
*/
.button,
a.button {
  @extend .input--non-styled;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  min-width: 5rem;
  border-radius: var(--radius);
  color: var(--color-background);
  border: 2px solid transparent;
  transition: all 0.3s;

  &--primary {
    background-color: var(--color-primary);

    &--outlined {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    &--outlined {
      border-color: var(--color-secondary);
      color: var(--color-secondary);
    }
  }

  &--orange {
    background-color: var(--color-orange);
    &--outlined {
      border-color: var(--color-orange);
      color: var(--color-orange);
    }
  }

  &--red {
    background-color: var(--color-red);
    &--outlined {
      border-color: var(--color-red);
      color: var(--color-red);
    }
  }

  &--green {
    background-color: var(--color-green);
    &--outlined {
      border-color: var(--color-green);
      color: var(--color-green);
    }
  }

  &--rounded {
    border-radius: var(--radius-xlg);
  }

  &--sm {
    font-size: 1.3rem;
    padding: 0.3rem 0.7rem;
  }

  &--md {
    font-size: 1.3rem;
    padding: 0.6rem 0.8rem;
  }

  .icon {
    display: flex;
    align-items: center;
    font-size: 1.8rem !important;

    &--left {
      margin-right: 0.7rem;
    }
    &--right {
      margin-left: 0.7rem;
    }
  }
}

.button-group {
  .button {
    border-radius: 0;
  }

  .button:first-child {
    border-radius: var(--radius-lg) 0 0 var(--radius-lg);
    border-right: none;
  }
  .button:last-child {
    border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
    border-left: none;
  }
}
