/* 
    BUTTON
*/
.button {
  @extend .input--non-styled;
  font-size: inherit;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-background);
  border-radius: var(--radius);
  border: 1px solid transparent;
  min-width: 5rem;

  &--rounded {
    border-radius: var(--radius-xlg);
  }

  &--sm {
    font-size: 1.3rem;
  }

  &--outline {
    background-color: inherit;
    color: var(--color-text);
    border: 2px solid var(--color-text);
  }
}

.button-colored {
  @extend .input--non-styled;
  width: 3rem;
  height: 3rem;
  border-radius: var(--radius);
}

.button-iconed {
  @extend .input--non-styled;
  padding: 0.4rem;
  margin-right: 0.6rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;

  & > * {
    font-size: var(--icon-size) !important;
  }
}
