/* 
    FORM
*/
$fg-xlg-height: 10rem;
$i-xlg-fontsize: 2rem;
$i-xlg-padding-b: 0.8rem;
$i-xlg-padding-t: 1.6rem;
$i-xlg-padding-v: 0.8rem;
$l-xlg-padding-v: 0.4rem;

$l-fontsize: 1.4rem;

.form {
  position: relative;
  &__group {
    margin-bottom: 1.5rem;

    &--xlg {
      margin-bottom: 2rem;
      // @TODO why + .8rem
      height: $i-xlg-fontsize + ($i-xlg-padding-t + $i-xlg-padding-b) + $l-fontsize + (2 * $l-xlg-padding-v) +
        0.8rem;

      & > .label--linear {
        margin: 0;
      }
    }
  }
}

/* 
    INPUT
*/
input.input,
select.input {
  @extend .input--non-styled;
  display: block;
  padding: 1.2rem;
  font-size: 1.8rem;
  background-color: var(--color-transparent-dark-1);
  width: 100%;
  border-radius: var(--radius) var(--radius) 0 0;
  transition: all 0.3s;

  border-bottom: 2px solid var(--color-text-dark-2);

  &:focus {
    border-bottom: 2px solid var(--color-text-dark-1);
  }

  &::placeholder {
    color: var(--color-text-dark-2);
  }

  &--xlg {
    font-size: $i-xlg-fontsize;
    padding: $i-xlg-padding-t $i-xlg-padding-v $i-xlg-padding-b;
    border-bottom: 2px solid var(--color-text-dark-2);

    &:focus {
      border-bottom: 2px solid var(--color-text-dark-1);
    }

    &:focus::placeholder {
      transition: all 0.4s;
      color: var(--color-text-dark-1);
    }

    &::placeholder {
      color: var(--color-text-dark-2);
    }
  }
}

/*  SELECT  */
select.input {
}

.label {
  font-size: $l-fontsize;

  &--linear {
    display: block;
    padding: $l-xlg-padding-v $i-xlg-padding-v;
    transition: all 0.2s;
    background: linear-gradient(135deg, var(--color-primary), transparent);
    background-size: 100%;
    background-repeat: repeat-x;
    background-position-x: 0%;
    color: var(--color-background);
    border-radius: 0 0 var(--radius) var(--radius);
  }
}
