.scrollable-select {
  @extend .hide-scrollbar;
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow-x: scroll;
  padding: 1rem;
  border-radius: var(--radius);
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15px,
    black 95%,
    transparent
  );

  padding-left: 1rem;

  &__item {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    transition: all 0.2s;

    & > * {
      transition: all 0.3s;
    }
  }

  &__item.selected {
    transform: scale(1.1);
  }

  &__item:not(:last-child) {
    margin-right: 1rem;
  }
}
