.scrollable-select {
  @extend .hide-scrollbar;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: var(--color-transparent-dark-1);
  overflow-x: scroll;
  padding: 1rem;
  border-radius: var(--radius);
  mask-image: linear-gradient(to right, transparent, black 15px, black 95%, transparent);

  padding-left: 2rem;

  &__item {
    transition: all 0.2s;
    display: flex;
    align-items: center;
  }

  &__item.selected {
    transform: scale(1.2);
  }

  &__item:not(:last-child) {
    margin-right: 1.6rem;
  }
}
