.scrollable-select {
  @extend .hide-scrollbar;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: var(--color-transparent-dark-1);
  overflow-x: scroll;
  padding: 0 1rem;
  height: 8rem;
  border-radius: var(--radius);

  &__item {
    transition: all 0.2s;
    min-width: 5rem;
  }

  &__item.selected {
    transform: scale(1.2);
  }

  &__item:not(:last-child) {
    margin-right: 1.4rem;
  }
}
